@import url('course_style.css');
body {
    background-color: #e8f1f6;
    font-family: Arial, sans-serif;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #3f6578;
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #212121;
}

input[type="text"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #3f6578;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="file"] {
    padding: 10px;
    border: 1px solid #3f6578;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    background-color: #00c0c9;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
}

    button:hover {
        background-color: #ff8769;
    }

.error-message {
    color: #ff8769;
    font-size: 14px;
    margin-top: 5px;
}
